
/* .borde {
    border: 2px solid blue;
} */

h1 {
    border: 2px dashed red;
    height: 200px;
    /* display: inline-block; */
    background-color: teal;
    margin: 50px 30px 60px 10px ;
    padding: 20px 10px ;

}

p{
    border: 2px solid rgb(9, 69, 97);
    width: 500px;
    /* display: inline-block; */
}

a{
    /* border: 2px solid rgb(14, 187, 57); */
    /* width: 100px; */

}
.navegacion{
    /* border: 2px solid #1215bdf3; */
    height: 25px;
    padding: 20px 0 0 650px;
}